*{
  box-sizing: border-box;
}

.board{
  width: 300px;
}

.top,
.center,
.bottom {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
}

.square {
  text-align: center;
  cursor: pointer;
  font-size: 80px;
  color: white;
}

.x-wins,
.ties,
.o-wins {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 20px 0;
}
