*{
  box-sizing: border-box;
}

body {
  background: url("../images/background.jpg");
  font-family: 'Architects Daughter', cursive;
  color: rgba(255,255,255,0.65);
}

.nav {
  margin: 20px 0 0 20px;
}

.nav button {
  border: none;
  background: transparent;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.65);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 20px;
}

.nav button:hover {
  color: #fff;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.instructions {
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 300ms;
}

.instructions.show {
  height: auto;
  opacity:1;
}

.title {
  width: 50%;
  margin: 100px auto;
  text-align: center;
}

.title button {
  border: 4px solid rgba(255, 255, 255, 0.65);
  background: transparent;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 26px;
  color: rgba(255,255,255,0.65);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  padding: 10px 40px;
}

.title button:hover {
  color: #656565;
  border: 4px solid #656565;
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}

.scores {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

.x-wins,
.ties,
.o-wins {
  display: inline-block;
  width: 32%;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 4px;

}

.container {
  width: 100%;
}

.board {
  width: 450px;
  margin: 0 auto;
  position: relative;
}

.square {
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 96px;
  display: inline-block;
  float: left;
  position: relative;
}

.square a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.square span {
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: not-allowed;
  transform: translate(0, 10%);
}

.left:after {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/line-vertical.png");
  background-position: -51px 0;
  width: 14px;
  height: 100%;
  right: -7px;
  top: 0;
  transform: rotate(-2deg);
}

.right:after {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/line-vertical.png");
  background-position: -51px 0;
  width: 14px;
  height: 100%;
  left: -7px;;
  top: 0;
  transform: rotate(-2deg);
}

.bottom:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/line-horizontal.png");
  background-position: 0 -21px;
  width: 100%;
  height: 14px;
  left: 0;
  top: -7px;
  transform: rotate(-2deg);
}

.top:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/line-horizontal.png");
  background-position: 0 -21px;
  width: 100%;
  height: 14px;
  left: 0;
  bottom: -7px;
  transform: rotate(-2deg);
}


.winner-display {
  text-align: center;
  /*padding: 50px 0;*/
  position: absolute;
  top: 225px;
  left: 225px;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.65);
  overflow: hidden;
  transition: all 1s;
}

.result .winner-display {
  width: 450px;
  height: 450px;
  top: 0;
  left: 0;
  z-index: 2;
}

.winner-display p {
  font-size: 80px;
  color: rgb(162, 162, 162);
  letter-spacing: 2px;
  font-weight: bold;
  transition: 10s;
}

.winner-display button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: 4px solid rgba(255, 255, 255, 0.65);
  background: #000;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.65);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.winner-display button:hover {
  color: #656565;
  border: 4px solid #656565;
  background: rgb(162, 162, 162);
  cursor: pointer;
}

footer span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  letter-spacing: 2px;
}
